/* Add these styles to your Card.css file */

.Card {
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 15px;
    display: inline-block; /* Display cards inline */
    text-align: center; 
  }
  
  .CardImage {
    width: 270px;
    height: 350px;
    object-fit: cover;
    align-self: center; /* Center the image within its flex container */
    object-position: center;
  }
  
  .CardContent {
    padding: 16px;
    color: black;
    text-decoration: none;
  }
  
  