.cardd-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    width: 82%;
  }
  


  .cardd {
    width: calc(32% - (20px + 2px));
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    color: black;
  }
  
  .cardd-image {
    width: 350px;
    overflow: hidden;
    margin-right: 16px;
  }
  
  .imagee {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
  
  .cardd-content {
    flex: 1;
    padding: 16px;
  }
  
  h2 {
    margin-bottom: 8px;
  }
  
  .description,
  .price {
    margin-bottom: 4px;
  }
  

.page-container {
    display: flex;
  }
  
  .filter-container {
    width: 18%;
    padding: 16px;
    border-right: 1px solid #ddd;
  }

  .prime{
    color: rgb(29, 175, 215);
    font-weight: 700;
  }

  .LinkView{
    color: black;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    display: flex;
  }


  .price{
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    width: 50px;
    background-color: #ff9900;
    font-size: large;
    font-weight: bold;
  }

  
  /* Remove text decoration for all elements */
  * {
    text-decoration: none;
  }


  .CardTitle{
    color: black;
  }

  .Ratingss{
    color: black;
  }